<!DOCTYPE html>
<html ng-app="App">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet/less" href="less/admin.less">

        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/moment.min.js"></script>
        <script src="js/lib/moment-fr.js"></script>
        <script src="js/lib/less-1.7.5.min.js"></script>
        <script src="js/lib/ui-bootstrap.min.js"></script>
        <script src="js/lib/angular-sanitize.min.js"></script>

        <script src="js/ready.js"></script>
        <script src="js/admin.js"></script>
        
        <title>HEIGre-doux Admin</title>
    </head>
    <body ng-controller="mainCtrl">
        <div id="container" class="container">
            <h1>HEIGre-doux Admin</h1>
            <div id="days" ng-controller="AccordionCtrl">
                <div class="day" ng-repeat="d in dailyMenus | orderBy: 'date'" is-open="d.isOpen">
                    <h3>{{ d.frenchDate }}</h3>
                    <div id="menus">
                        <table class="table table-striped table-bordered table-hover menu" ng-repeat="m in d.menus">
                            <div id="aliments">
                                <tr href="#" class="aliment" ng-repeat="a in m.aliments | orderBy: 'type.id'">
                                    <td ng-click="open(a.id)"><span ng-if="a.type.name == 'Sauce'">Sauce: </span>{{ a.name }}</td>
                                    <td>{{ a.type.name }}</td>
                                    <td><input placeholder="Search..." class="form-control" ng-model="searches[a.id]" ng-change="getNutrimentsList(a)"></input></td>
                                    <td><select class="form-control" ng-model="a.nutriments" ng-options="r as r.name for r in addNutriment(results[a.id], a.nutriments)" ng-change="updateNutriments(a)"></select></td>
                                </tr>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-repeat="a in nutriments">
                <div>{{ a.name }}</div>
                <div ng-repeat="n in a.values">
                    {{ n.name }}: {{ n.formattedValue }}
                </div>
            </div>
        </div>
    </body>
</html>
