<!DOCTYPE html>
<html ng-app="App">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet/less" href="less/index.less">

        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/moment.min.js"></script>
        <script src="js/lib/moment-fr.js"></script>
        <script src="js/lib/less-1.7.5.min.js"></script>
        <script src="js/lib/ui-bootstrap.min.js"></script>

        <script src="js/ready.js"></script>
        <script src="js/index.js"></script>
        
        <title>HEIGre-doux</title>
    </head>
    <body ng-controller="mainCtrl">
        <div id="container">
            <h1>HEIGre-doux</h1>
            <div id="deviceready" class="blink">
                <p class="event listening">Connecting to Device</p>
                <p class="event received">Device is Ready</p>
            </div>


            <div id="days" ng-controller="AccordionDemoCtrl">
                <accordion close-others="oneAtATime">
                    <accordion-group class="day" ng-repeat="d in dailyMenus | orderBy: 'date' " heading="{{ d.frenchDate }}">
                        <h3 class="title">{{ d.frenchDate }}</h3>
                        <div id="menus">
                            <div class="menu" ng-repeat="m in d.menus">
                                <div class="aliment" ng-repeat="a in m.aliments">
                                    {{ a.name }} - {{ a.type.name }} - {{ a.last | momentAgo }}
                                </div>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </body>
</html>
