<!DOCTYPE html>
<html ng-app="App">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet/less" href="less/index.less">

        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/moment.min.js"></script>
        <script src="js/lib/moment-fr.js"></script>
        <script src="js/lib/less-1.7.5.min.js"></script>
        <script src="js/lib/ui-bootstrap.min.js"></script>

        <script src="js/ready.js"></script>
        <script src="js/index.js"></script>
        
        <title>HEIGre-doux</title>
    </head>
    <body ng-controller="mainCtrl">
        <div id="container">
            <h1>HEIGre-doux</h1>
            <!--<div id="deviceready" class="blink">
                <p class="event listening">Connecting to Device</p>
                <p class="event received">Device is Ready</p>
            </div>-->
            <div ng-controller="nutrimentsCtrl">
                <div id="days" ng-controller="AccordionCtrl">
                    <accordion close-others="oneAtATime">
                        <accordion-group class="day" ng-repeat="d in dailyMenus | orderBy: 'date'" heading="{{ d.frenchDate }}" is-open="d.isOpen">
                            <div id="menus">
                                <div class="menu" ng-repeat="m in d.menus">
                                    <div id="votes"></div>
                                    <div id="aliments">
                                        <div href="#" class="aliment" ng-repeat="a in m.aliments | orderBy: 'type.id'">
                                            <a ng-click="open(a.id)" ng-if="a.nutriments.id"><span ng-if="a.type.name == 'Sauce'">Sauce: </span>{{ a.name }}</a>
                                            <span ng-if="!a.nutriments.id"><span ng-if="a.type.name == 'Sauce'">Sauce: </span>{{ a.name }}</span>
                                            <small>(dernière fois: {{ a.last | momentAgo }})</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>

                <script type="text/ng-template" id="nutrimentsContent.html">
                    <div class="modal-header">
                        <h3 class="modal-title">Nutriments</h3>
                    </div>
                    <div class="modal-body">
                        <div ng-repeat="a in nutriments">
                            <div class="nutriments-aliment">{{ a.name }} - <small>Pour {{ a.per }}</small></div>
                            <table class="table table-striped">
                                <tr ng-repeat="n in a.values" class="nutriments">
                                    <td>{{ n.o.name }}</td>
                                    <td>{{ n.o.prefix }}{{ n.o.value }}{{ n.o.unit }}</td>
                                    <td><small>{{ n.o.suffix }}</small></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                    </div>
                </script>
            </div>
        </div>
    </body>
</html>
