<!DOCTYPE html>
<html ng-app="App">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />

        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/moment.min.js"></script>
        <script src="js/lib/moment-fr.js"></script>
        <script src="js/lib/less-1.7.5.min.js"></script>

        <script src="js/ready.js"></script>
        <script src="js/index.js"></script>
        <title>HEIGre-doux</title>
    </head>
    <body ng-controller="mainCtrl">
        <h1>HEIGre-doux</h1>
        <div id="deviceready" class="blink">
            <p class="event listening">Connecting to Device</p>
            <p class="event received">Device is Ready</p>
        </div>

        <div id="days">
            <div class="day" ng-repeat="d in dailyMenus">
                {{ d.date }}
                <div id="menus" ng-repeat="m in d.menus">
                    <div>{{ m.frenchDate }}</div>
                    <div class="aliment" ng-repeat="a in m.aliments">
                        {{ a.name }} - {{ a.type.name }}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
